__pycache__/
*.py[cod]
*.pyd

.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyre/

.venv/
venv/
env/

build/
dist/
*.egg-info/

.coverage
coverage.xml
htmlcov/

.idea/
.vscode/

Thumbs.db
.DS_Store

.env
.env.*
!.env.example
!.env.test.example
!src/apps/cli/env/
!src/apps/cli/env/.env.api_go
!src/apps/cli/env/.env.api_py
!src/apps/web/.env.api_go
!src/apps/web/.env.api_py
.VSCodeCounter

.venv312/
arkilo-ui-example
src/services/worker_go/worker
src/services/worker_go/worker.exe
