-r requirements.txt
pytest>=8.0
pluggy<2,>=1.5
pygments>=2.7.2
iniconfig>=2.0
packaging>=24
tomli>=1; python_version < "3.11"
exceptiongroup>=1.0.0rc8; python_version < "3.11"
colorama; sys_platform == "win32"
ruff>=0.3
